In [247]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [248]:
data=pd.read_csv('heart_failure_clinical_records_dataset.csv')
data
X=data[['ejection_fraction','serum_creatinine','serum_sodium','time','age','anaemia','high_blood_pressure']]
y=data['DEATH_EVENT']
X_all=data[['ejection_fraction','serum_creatinine','serum_sodium','time','age','anaemia','high_blood_pressure','creatinine_phosphokinase','platelets','diabetes','sex','smoking']]

In [249]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
x_train_all,x_test_all,y_train_all,y_test_all=train_test_split(X_all,y,test_size=0.2)

In [250]:
##----------------------------------- Logistic Regression---------------------------------------------------

In [251]:
logistic_model_all=LogisticRegression()
logistic_model_all.fit(x_train_all,y_train_all)
accuracy_all=logistic_model_all.score(x_test_all,y_test_all)
accuracy_all

0.7666666666666667

In [252]:
# after feature selection or removing few features

In [253]:
logistic_model=LogisticRegression()
logistic_model.fit(x_train,y_train)
accuracy=logistic_model.score(x_test,y_test)
accuracy

0.8166666666666667

In [254]:
## ---------------------------------Support Vector Machine--------------------------------------------------

In [255]:
from sklearn.svm import SVC

In [256]:
svc_model_all = SVC()
svc_model_all.fit(x_train_all,y_train_all)
accuracy_all_s=svc_model_all.score(x_test_all,y_test_all)
accuracy_all_s

0.7

In [257]:
svc_model = SVC()
svc_model.fit(x_train,y_train)
accuracy_s=svc_model.score(x_test,y_test)
accuracy_s

0.9166666666666666

In [274]:
##--------------------------------------K_Means Clustering--------------------------------------------------

In [270]:
from sklearn.cluster import KMeans

In [332]:
kmeans_model=KMeans(n_clusters=3)
cluster_predict=kmeans_model.fit_predict(X)

In [333]:
cluster_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [334]:
data['DEATH_EVENT'].to_numpy()

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [335]:
data.drop(columns='cluster',inplace=True)
data.insert(13,'cluster',cluster_predict)
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,cluster
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0,0

In [336]:
cluster_0=data.loc[data['cluster']==0]
cluster_1=data.loc[data['cluster']==1]
cluster_2=data.loc[data['cluster']==2]

In [337]:
cluster_0

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,cluster
183,75.000,0,99,0,38,1,224000.0,2.5,134,1,0,162,1,0
184,58.000,1,145,0,25,0,219000.0,1.2,137,1,1,170,1,0
185,60.667,1,104,1,30,0,389000.0,1.5,136,1,0,171,1,0
186,50.000,0,582,0,50,0,153000.0,0.6,134,0,0,172,1,0
187,60.000,0,1896,1,25,0,365000.0,2.1,144,0,0,172,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.000,0,61,1,38,1,155000.0,1.1,143,1,1,270,0,0
295,55.000,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0,0
296,45.000,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0,0
297,45.000,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0,0
298,50.000,0,196,0,45,0,395000.0,1.6,136,1,1,285,0,0

In [338]:
cluster_1

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,cluster
0,75.0,0,582,0,20,1,265000.00,1.90,130,1,0,4,1,1
1,55.0,0,7861,0,38,0,263358.03,1.10,136,1,0,6,1,1
2,65.0,0,146,0,20,0,162000.00,1.30,129,1,1,7,1,1
3,50.0,1,111,0,20,0,210000.00,1.90,137,1,0,7,1,1
4,65.0,1,160,1,20,0,327000.00,2.70,116,0,0,8,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,60.0,0,68,0,20,0,119000.00,2.90,127,1,1,64,1,1
66,42.0,1,250,1,15,0,213000.00,1.30,136,0,0,65,1,1
67,72.0,1,110,0,25,0,274000.00,1.00,140,1,1,65,1,1
68,70.0,0,161,0,25,0,244000.00,1.20,142,0,0,66,1,1
69,65.0,0,113,1,25,0,497000.00,1.83,135,1,0,67,1,1

In [339]:
cluster_2

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,cluster
70,41.0,0,148,0,40,0,374000.0,0.8,140,1,1,68,0,2
71,58.0,0,582,1,35,0,122000.0,0.9,139,1,1,71,0,2
72,85.0,0,5882,0,35,0,243000.0,1.0,132,1,1,72,1,2
73,65.0,0,224,1,50,0,149000.0,1.3,137,1,1,72,0,2
74,69.0,0,582,0,20,0,266000.0,1.2,134,1,1,73,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,63.0,1,122,1,60,0,267000.0,1.2,145,1,0,147,0,2
179,55.0,0,835,0,40,0,279000.0,0.7,140,1,1,147,0,2
180,40.0,0,478,1,30,0,303000.0,0.9,136,1,0,148,0,2
181,59.0,1,176,1,25,0,221000.0,1.0,136,1,1,150,1,2
182,65.0,0,395,1,25,0,265000.0,1.2,136,1,1,154,1,2

In [340]:
cluster_0_deaths=cluster_0.groupby('DEATH_EVENT').count()['cluster']
cluster_1_deaths=cluster_1.groupby('DEATH_EVENT').count()['cluster']
cluster_2_deaths=cluster_2.groupby('DEATH_EVENT').count()['cluster']

In [341]:
pd.DataFrame(data=[cluster_0_deaths,cluster_1_deaths,cluster_2_deaths],index=['cluster 0','cluster 1','cluster 2'])

DEATH_EVENT    0   1
cluster 0    102  14
cluster 1     10  60
cluster 2     91  22